.page__introduction {
    background-image: url(../../dist/img/forkio-header-bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding-bottom: 459px;
    @media (max-width: 992px) {
        padding-bottom: 472px;
    }
    @media (max-width: 480px) {
        padding-bottom: 416px;
    }
    position: relative;
}

.intro__header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 90px;
    @media (max-width: 992px) {
        background-color: #27262A;
        padding: 20px;
    }
    @media (max-width: 480px) {
        padding: 30px 15px;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $purple;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    &:hover {
        color: #ffffff;
        .logo__image {
            background-image: url(../../dist/img/logo-hover.png);
        }
    }
}

.logo__text {
    @media (max-width: 480px) {
        display: none;
    }
}

.logo__image {
    background-image: url(../../dist/img/logo.png);
    width: 43px;
    height: 41px;
    margin-right: 17px;
    @media (max-width: 480px) {
        margin: 0;
    }
}

.header__menu {
    display: flex;
    gap: 40px;
    align-items: center;
    @media (max-width: 992px) {
        gap: 28px;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    color: $purple;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    &:hover {
        color: #ffffff;
    }
    &--desktop {
        @media (max-width: 992px) {
            display: none;
        }
    }
}

.menu__buy-btn {
    color: white;
    padding: 11px 20px;
    background-color: $purple;
    border-radius: 40px;
    font-size: 16px;
    line-height: 17px;
    box-sizing: border-box;
    font-weight: bold;
    border: 1px solid $purple;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
        color: $purple;
        background: #ffffff;
    }
}

.header__nav--tablet {
    display: none;
    justify-content: center;
    margin-top: 22px;
    @media (max-width: 992px) {
        display: flex;
    }
    @media (max-width: 480px) {
        display: none;
    }
}

.burger {
    position: relative;
    width: 26px;
    height: 21px;
    display: none;
    @media (max-width: 480px) {
        display: block;
    }
    &__top {
        @extend %burgerLineDefault;
        width: 15px;
        height: 3px;
        right: 0;
        top: 0;
    }
    &__middle {
        @extend %burgerLineDefault;
        width: 26px;
        height: 3px;
        right: 0;
        top: 9px;
    }
    &__bottom {
        @extend %burgerLineDefault;
        width: 26px;
        height: 3px;
        right: 0;
        bottom: 0;
    }
    &--active {
        .burger__top {
            display: none;
        }
        .burger__middle {
            top: 9px;
            right: -3px;
            width: 30px;
            transform: rotate(45deg);
        }
        .burger__bottom {
            top: 9px;
            right: -3px;
            width: 30px;
            transform: rotate(-45deg);
        }
    }
}

.header__burger-content {
    position: absolute;
    background-color: #333333;
    top: 100%;
    left: 50%;
    min-width: 300px;
    transform: translate(-50%, 0);
    display: none;
}

.header__burger-content--active {
    display: block;
    @media (min-width: 481px) {
        display: none;
    }
}

.burger-menu__item {
    display: block;
    font-size: 26px;
    color: $purple;
    padding: 15px 35px 15px 50px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    &:hover, &:active, &:focus, &--current {
        box-sizing: border-box;
        border-left: 8px solid $purple;
        padding-left: 42px;
    }
}

.burger-menu__item-holder {
    padding: 16px 0;
    border-bottom: 3px solid #3b3b3b;
}

.intro__content {
    margin: 0 auto;
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    @media (max-width: 992px) {
        margin-top: 68px;
    }
    @media (max-width: 480px) {
        padding: 0 40px;
        margin-top: 50px;
    }
}

.intro-content__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 82px;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    @media (max-width: 992px) {
        font-size: 72px;
    }
    @media (max-width: 480px) {
        font-size: 48px;
    }
}

.intro-content__subtitle {
    font-family: 'Lato', sans-serif;
    color: $purple;
    font-size: 30px;
    margin-top: 19px;
    text-align: center;
    @media (max-width: 992px) {
        font-size: 24px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
        line-height: 24px;
        text-transform: capitalize;
    }
}

.intro-content__version {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #848E97;
    text-transform: uppercase;
    margin-top: 19px;
    text-align: center;
    @media (max-width: 992px) {
        font-size: 14px;
        margin-top: 14px;
    }
}

.intro__download {
    position: absolute;
    font-size: 21px;
    line-height: 22px;
    font-weight: bold;
    padding: 23px 61px;
    border: none;
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 40px;
    background-color: $purple;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 2px solid $purple;
    cursor: pointer;
    &:hover {
        color: $purple;
        background-color: #ffffff;
    }
    @media (max-width: 480px) {
        padding: 15px 29px;
        font-size: 18px;
        line-height: 20px;
    }
}
.page__revolution{
    height: 391px;
    background-color: #ffffff;
    @media (max-width: 992px) {
        padding: 0px 40px 0px 39px;
    }
    @media (max-width: 480px) {
        padding: 0px 24px 0px 23px;
    }
    
}
.tiny-text{
    margin-top: 48px;
    color: $grayfont;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: $grayfont;
}
.section__heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    color: $darkpurple;
    text-transform: uppercase;
    margin-top: 66px;
    @media (max-width: 992px) {
        font-size: 42px;
        margin-top: 93.5px;
    }
    @media (max-width: 480px) {
        margin-top: 79.5px;
        font-size: 26px;
        line-height: 28px;
    }
}
.section__description{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    // width: 861px;
    word-break: break-all;
    padding-left: calc(50% - 427px);
    padding-right: calc(50% - 427px);
    margin: 35px auto 0px auto;
    color: $blackfont;
    @media (max-width: 992px) {
        // width: 689px;
        font-size: 21px;
        line-height: 32px;
        margin-top: 33px;
    }
    @media (max-width: 480px) {
        // width:276px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 27px;
    }
}
.btn__wrapper{
    margin: 25px auto 0px auto;
    display: flex;
    justify-content: space-between;
    width: 365px;
    @media (max-width: 992px) {
        margin-top: 40px;
    }
    @media (max-width: 480px) {
        margin-top: 32px;
        width: 251px;
        height: 72px;
        flex-wrap:wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}
.page__what-you-get{
    // height: 711px;
    // @media (max-width: 992px) {
    //     height: 1394px;
    // }
    // @media (max-width: 480px) {
    //     height: 1530px;
    // }
    background-color: #F4F4F4;
    @media (max-width: 992px) {
        background-color: #ffffff
    }
    @media (max-width: 480px) {
        background-color: #ffffff
    } 
}
.section__main-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    @media (max-width: 992px) {
        flex-direction: column;
        position: relative;
    }
}
.main__features-wrapper{
   width: 530px;
   margin-left: 90px;
   margin-top: 98px;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 23px;
  align-items: flex-start;
  row-gap: 35px;
  @media (max-width: 992px) {
    width: 530px;
    margin-top: 153px;
}
@media (max-width: 480px) {
    // height: 1530px;
    
} 
}
.feature-wrapper__item{
    display: flex;
    justify-content: flex-end;
}

.purple{
    font-size: 48px;
    color: $purple;
    text-transform:capitalize;
    margin-top: 0px;
    // margin-bottom: 18.9px;
    &::before{
        content: "<";
    }
    &::after{
        content: ">";
    }
    @media (max-width: 992px) {
        position: absolute;
        top: 62px;
        font-size: 42px;
        left: 25%;
    }
    @media (max-width: 480px) {
        font-size: 32px;
        line-height: 38px;
        position: absolute;
        top: 32px;
    } 
}
.item__text{
    width: 406px;
    @media (max-width: 992px) {
        width: unset;
    }
    @media (max-width: 480px) {
        // height: 1530px;
    } 
}
.item__heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $blackfont;
}
.item__description{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    font-size: 14px;
    color: $grayfont;
    padding-top: 16.3px;
}
.img-wrapper{
    text-align: center;
}
.icons__feature--potion{
    padding-right: 31px;
}
.icons__feature--newspaper{
    padding-right: 13px;
}
.icons__feature--disc{
    padding-right: 30px;
}
.icons__feature--speed{
    padding-right: 26px;
}
.main__heading-screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 94px;
}
.screenshot{
    width: 100%;
    @media (max-width: 480px) {
        display: none;
    }
}
.screenshot-320{
    display: none;
    @media (max-width: 480px) {
        display: block;
    }
}
.page__subscription{
    height: 878px;
    background-image: url(../../dist/img/subscription-background-wide.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 992px) {
        height: 1319px;
        background-image: url(../../dist/img/subscription-background-768.png);
    }
    @media (max-width: 480px) {
        height: 2117px;
        background-image: url(../../dist/img/subscription-background-320.png);
    }
}
.test{
    font-family: 'Montserrat',sans-serif;
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    padding-top: 114px;
    text-align: center;
    @media (max-width: 992px) {
        padding-top: 90px;
        font-size: 42px;
    }
    @media (max-width: 480px) {
        padding-top: 14px;
        word-break: break-all;
        font-size: 28px;
    }
}
.subscription__option-purchase-wrapper{
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
    @media (max-width: 992px) {
        margin-top: 39px;
        
    }
    @media (max-width: 480px) {
        margin-top: 32px;
    }
}
.option-purchase-wrapper__option{
    background-color: red;
}
